.stock-not-exist-msg {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
}

.stock-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock-item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  background-color: #429672;
  width: 245px;
  height: 350px;
  margin: 3rem;
  color: rgba(198, 240, 253, 0.877);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-items: center;
}

.stock-item-ticker {
  grid-row: 1;
  grid-column: 1 / span 10;
  font-size: 2.2rem;
  font-weight: bold;
}

.stock-item-realtime {
  grid-row: 2;
  grid-column: 1 / span 10;
}

.stock-item-avgCost {
  grid-row: 3;
  grid-column: 1 / span 10;
}

.stock-item-quantity {
  grid-row: 4;
  grid-column: 1 / span 10;
}

.stock-item-todayGain {
  grid-row: 5;
  grid-column: 1 / span 10;
}

.stock-item-TotalGain {
  grid-row: 6;
  grid-column: 1 / span 10;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

select::-ms-expand {
  display: none;
}

select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.portfolio-actions-container {
  display: flex;
  justify-content: space-between;
  margin: 4rem 1rem;
}

.action-edit-positions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #2c3e50;
  border-radius: 0.4rem;
  background-color: #2c3e50;
  font-size: 1.2rem;
  width: 305px;
}

.edit-position {
  color: #fff;
  cursor: pointer;
}

.edit-cash {
  color: #fff;
  cursor: pointer;
}

.edit-position:hover,
.edit-cash:hover {
  color: var(--warning-color);
}

.dropdown-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}

.dropdown-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

.dropdown-select:hover::after {
  color: #f39c12;
}

@media only screen and (max-width: 767px) {
  .stock-item {
    width: 230px;
    height: 305px;
    margin: 2.2rem;
    font-size: 20px;
  }

  .action-edit-positions {
    width: 280px;
  }
}

@media only screen and (max-width: 670px) {
  .portfolio-actions-container {
    align-items: center;
    flex-direction: column;
  }

  .action-edit-positions {
    margin-top: 1rem;
    width: 320px;
    height: 50px;
  }
}

@media only screen and (max-width: 420px) {
  .stock-item-ticker {
    font-size: 2rem;
  }

  .stock-item {
    width: 200px;
    height: 280px;
    margin: 1.7rem;
  }

  .portfolio-actions-container {
    margin: 3rem 0.6rem;
  }

  .dropdown-select {
    width: 270px;
  }

  .action-edit-positions {
    width: 270px;
    font-size: 1rem;
  }
}
