.login-title {
  font-size: 54px;
  color: #78a8a4;
}

.login-subtitle {
  position: relative;
  top: 26px;
  left: 7px;
  font-size: 26px;
  color: #fff;
}

.form-login {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 46px 60px 46px 80px 40px 30px;
  margin: 5rem 10rem 0 0;
}

.group-login-email {
  grid-row: 1;
  grid-column: 1 / span 19;
}

.group-login-password {
  grid-row: 3;
  grid-column: 1 / span 19;
}

.group-btn-login {
  display: flex;
  align-items: center;
  grid-row: 5;
  grid-column: 1 / span 19;
}

.btn-login {
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .form-login {
    margin: 5rem 8rem 0 0;
  }
}

@media only screen and (min-width: 556px) and (max-width: 767px) {
  .login-title {
    font-size: 48px;
  }

  .login-subtitle {
    font-size: 21px;
  }

  .form-login {
    margin: 5rem 6rem 0 0;
  }
}

@media only screen and (min-width: 376px) and (max-width: 555px) {
  .login-title {
    font-size: 44px;
  }

  .login-subtitle {
    font-size: 18px;
    top: 24px;
    left: 5px;
  }

  .form-login {
    margin: 5rem 3rem 0 0;
  }
}

@media only screen and (max-width: 375px) {
  .login-title {
    font-size: 40px;
  }

  .login-subtitle {
    font-size: 16px;
    top: 21px;
    left: 4px;
  }

  .form-login {
    margin: 5rem 1rem 0 0;
  }
}
