.signup-title {
  font-size: 54px;
  color: #78a8a4;
}

.signup-subtitle {
  font-size: 30px;
  color: #fff;
}

.form-signUp {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 46px 75px 46px 75px 46px 80px 40px;
  margin: 5rem 10rem 0 0;
}

.group-firstName {
  grid-row: 1;
  grid-column: 1 / span 9;
}

.group-lastName {
  grid-row: 1;
  grid-column: 11 / span 9;
}

.group-email {
  grid-row: 3;
  grid-column: 1 / span 19;
}

.group-password {
  grid-row: 5;
  grid-column: 1 / span 19;
}

.group-btn-signUp {
  display: flex;
  align-items: center;
  grid-row: 7;
  grid-column: 1 / span 19;
}

.btn-signUp {
  height: 100%;
  width: 100%;
  border-radius: 0.2rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .signup-title {
    font-size: 43px;
  }

  .form-signUp {
    margin: 5rem 5rem 0 0;
  }

  .signup-subtitle {
    font-size: 24px;
  }
}

@media only screen and (min-width: 556px) and (max-width: 767px) {
  .signup-title {
    font-size: 37px;
  }

  .form-signUp {
    margin: 5rem 1rem 0 0;
  }

  .signup-subtitle {
    font-size: 24px;
  }
}

@media only screen and (max-width: 555px) {
  .signup-title {
    font-size: 32px;
  }

  .signup-subtitle {
    font-size: 18px;
  }

  .form-signUp {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 46px 60px 46px 60px 46px 60px 46px 60px 50px;
    margin: 5rem 2rem 0 0;
  }

  .group-firstName {
    grid-row: 1;
    grid-column: 1 / span 20;
  }

  .group-lastName {
    grid-row: 3;
    grid-column: 1 / span 20;
  }

  .group-email {
    grid-row: 5;
    grid-column: 1 / span 20;
  }

  .group-password {
    grid-row: 7;
    grid-column: 1 / span 20;
  }

  .group-btn-signUp {
    grid-row: 9;
    grid-column: 1 / span 20;
  }
}
